
.hotline {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 9000;
  display: block;
  background: #28a745;
  font-weight: 500;
  padding: 10px 25px;
  border: 5px solid #007bff;
  border-radius: 50px;
  box-shadow: #007bff 0px 2px 15px;
}