.sidebarWrapper {
  position: fixed;
  height: 85%;
  /* overflow: visible; */
  overflow-y: scroll;
  background: #f8f9fa;
  transition: all 0.5s ease;
  border-right: 1px solid #e0e0e0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.layoutSidenav {
  flex-basis: 220px !important;
}
.sidebar {
  width: 220px;
  transition: all 0.5s ease-in-out;
  color: #343a40 !important;
}

.sidebar .navul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.navLink {
  color: #343a40 !important;
  font-family: Roboto, sans-serif;
}

.navLink:hover {
  width: 220px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #0d6efd !important;
}

.navLink:focus {
  width: 220px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #0d6efd !important;
}

.navLink2 {
  margin-left: -1.5rem;
  color: #343a40 !important;
  font-family: Roboto, sans-serif;
}

.navLink2:hover {
  width: 220px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #0d6efd !important;
}

.navLink2:focus {
  width: 220px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #0d6efd !important;
}

.span {
  margin-left: 1.5rem;
}
