/* #event-nd{
  border: 1px solid #e0e0e0;
  box-shadow: 0 20px 40px rgba(0,0,0,.06);
}
 */
/* body {
  width: 1500px;
  margin: 0 auto;
} */
.container {
  width: 1500px;
}
.module-title {
  border-bottom: 3px solid #0073bc;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: green;
}
.module-style {
  background-image: none;
  border-radius: 5px 5px 5px 5px;
  background-color: #d9edf7;
  border: 3px solid #bce8f1;
}
